<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>{% if title %}{{ title }}{% else %}MWS Homework{% endif %}</title>{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    {% load common_dependencies.tags %}
    {% jQuery %}
    {% jQueryUI %}
    {% bootstrap4 %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">

    {% block js %}
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'data_entry' %}">Enter Q&A</a>
              <a class="nav-item nav-link" href="{% url 'search_query' %}">Search query</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a role="button" class="nav-item nav-link btn btn-warning btn-sm" href="/admin/" style="color: #212529; height: 35px;">Admin</a>
              {% if user.is_authenticated %}
{#              <button class="btn btn-warning btn-sm" type="button" href="{% url '/logout' %}">Logout</button>#}
              {% else %}
{#                  <button class="btn btn-warning btn-sm" type="button" href="{% url 'login' %}">Login</button>#}
{#                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>#}
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer class="container my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">تم تصميم الموقع بواسطة</p>
        <p>ali_148686, ali_148694 and youssef_144909</p>
    </footer>
</body>
</html>
